<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iot.letthingsspeak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".LetThingsSpeakApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cognito"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Screen Activity -->

        <activity
            android:name=".common.views.ActivitySplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true" />
        <activity
            android:name=".identity.views.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.OTPActivity"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.NewPasswordActivity"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.ChooseMFAActivity"
            android:label="@string/title_activity_choose_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".identity.views.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device.views.DeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".room.views.AddRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".device.views.AddDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device.configuration.views.ConfigDeviceActivity"
            android:label="@string/title_activity_config_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device.configuration.views.ScannerActivity"
            android:label="@string/title_activity_config_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".room.views.UpdateRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".device.views.DeviceList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device.views.UpdateDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>