<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iot.letthingsspeak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cognito"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.iot.letthingsspeak.aws.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iot.letthingsspeak.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.ChooseMFA"
            android:label="@string/title_activity_choose_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.aws.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.device.DeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.room.AddRoom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iot.letthingsspeak.device.AddDevice"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>